
<h1>{{data.title}}</h1>
<h2>ISBN: {{data.isbn}}</h2>
<h2>Author: {{data.author}}</h2>
<h2>Publisher: {{data.publisher}}</h2>
<h2>Year Published: {{data.publication_year}}</h2>
<p>{{{data.description}}}</p>

<form action="/?q={{query}}" method="get">
    <input type="submit" value="return">
</form>
