
<h1>{{data.title}}</h1>
<h2>ISBN: {{data.isbn}}</h2>
<h2>Author: {{data.author}}</h2>
<h2>Publisher: {{data.publisher}}</h2>
<h2>Year Published: {{data.publication_year}}</h2>
<p>{{{data.description}}}</p>

<a class="return" href="/?q={{query}}">Return</a>
